li {
	list-style-type: none;
}

.userBtn {
	background: #558a9f;
	color: aliceblue;
	margin: 0px 4px 0px 4px;
}

.viewBtn {
	background: #558a9f;
	color: aliceblue;
}

.editBtn {
	background: #87521a;
	color: aliceblue;
}