.header {
	display: flex;
	flex-direction: row;
	height: 5vh;
	background: linear-gradient(#0c132e, #273c50, #0c132e);
	align-content: center;
	justify-content: flex-start;
}

.headerField {
	align-self: center;
	padding: 5px 15px 5px 15px;
	color: antiquewhite;
	text-decoration: none;
	border-right: 2px ridge antiquewhite;
}